/* src/assets/styles/dark.css */
body.dark {
  background-color: #001529;
  color: rgba(255, 255, 255, 0.85);
}

body.dark .ant-layout-header,
body.dark .ant-layout-sider,
body.dark .ant-card {
  background: #001f3f !important;
  color: rgba(255, 255, 255, 0.85);
}

body.dark .ant-menu-dark {
  background: #001529 !important;
}